<section>
    <div class="container">

    <div class="d-flex align-items-start justify-content-between mb-5">
        <div>
            <h6 class="mb-3 pt-2">Address</h6>
            <p>123 Maple Street, Springfield, IL, 62704, Lagos</p>
        </div>

        <div class="d-flex align-items-center justify-content-between address">
            <div>
                <h6 class="mb-4">Info</h6>
                <a href="#">About</a>
                <a href="#">How it works</a>
            </div>
            <div>
                <h6 class="mb-4">Contact us</h6>
                <address>
                    <a href="tel:08001255006266">0800-125-500-6266</a>
                    <a href="mailto:info@abcd.com.ng">info&#64;abcd.com.ng</a>
                </address>
            </div>
            <button class="border-0 bg-transparent" (click)="scrollToTop()">
                <img src="assets/icons/up-arrow-button.png" alt="">
            </button>
        </div>
    </div>

    <hr>

    <div class="d-flex align-items-start justify-content-between mt-4">
        <small>Powered by StellarSync Technology &copy; {{ currentYear }}</small>
        <small>v.1.0.0</small>
    </div>

    </div>
</section>